* {
	box-sizing: border-box;
}

body{
	font-family: Forte;
}

header {
	background-color: lightblue;
	padding:  30px;
	text-align:center;
	font-size: 35px;
	color: white;
}

section:after {
	content: "";
	display: table;
	clear: both;
}

nav {
	float: left;
	width: 20%;
	height: 70%;
	background: lightblue;
	padding: 10px;
}

nav ul {
	list-style-type: none;
	padding: 0;
}

article{
	float: left;
	padding: 10px;
	width: 80%;
	background-color: pink;
	height: 70%
}

footer {
	background-color: yellow;
	padding: 10px;
	text-align: center;
	color: white;
}
	
	

